import 'dotenv/config'

const getVal = (key: string) => {
  return process.env[key]
}

const getNumber = (key: string) => {
  return Number(getVal(key))
}

const getBoolean = (key: string) => {
  const val = getVal(key);
  return (val || '').toLowerCase() === "true";
}

export const Env = {
  getVal,
  getNumber,
  getBoolean
}